@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}


:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--gray-color1: #eeeeee;
  --gray-color2: #444444;
	--gray-color3: #e1e1e1;
  --gray-color4: #283136;
  --gray-color5: #c1c1c1;
	--red-color1: #fb565a;
	--red-color2: #e74246;
	--red-color3: #d7373b;
}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page {
  height: 100%;
}


.page-body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


.container {
	width: 1160px;
	margin: auto;
}


.main-header {
	background: var(--gray-color1);
}

.main-header__container {
	display: flex;
}

.main-header__logo {
	margin-top: 48px;
	margin-right: 202px;
}

.main-header__nav {
	margin-top: 75px;
	max-width: 500px;
}

.main-header__user-block {
	margin-top: 75px;
	margin-left: auto;
	max-width: 300px;
}


.logo {
	width: 160px;
	height: 66px;
}

.logo:hover {
	opacity: 0.7;
}

.logo:active {
	opacity: 0.3;
}

.logo__image {
	width: 160px;
	height: 66px;
	object-fit: contain;
	max-width: 100%;
}


.links {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.links__item {
	margin-right: 46px;
	padding-bottom: 14px;
	position: relative;
}

.links__item:last-of-type {
	margin-right: 0;
}

.links__item--cart {
	padding-left: 40px;
	background: url("../img/icon-cart.svg") 0 7px no-repeat;
}

.links__item--active::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--red-color1);
}

.links__link {
	line-height: 30px;
	font-weight: 500;
	color: var(--black-color);
	text-transform: uppercase;
	text-decoration: none;
}

.links__link:hover {
	color: var(--red-color1);
}

.links__link:active {
	color: var(--black-color);
	opacity: 0.3;
}


.main-footer {
  background: lightblue;
}

.main-footer__container {
  display: flex;
  align-items: flex-start;
	padding-top: 69px;
	padding-bottom: 58px;
	padding-left: 2px;
}

.main-footer__socials {
  margin-right: 129px;
}

.main-footer__special-offer {
  margin-top: 6px;
}


.socials {
  max-width: 360px;
  flex-shrink: 0;
}

.socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  margin-right: 11px;
  margin-bottom: 11px;
}

.socials__link {
  font-size: 0;
  width: 100%;
  height: 100%;
  background: var(--gray-color3);
  border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials__link::before {
	content: "";
	position: absolute;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.socials__link:active::before {
	opacity: 0.3;
}

.socials__link--vk::before {
	background-image: url("../img/icon-vk.svg");
	width: 27px;
	height: 15px;
}

.socials__link--fb::before {
	background-image: url("../img/icon-fb.svg");
	width: 12px;
	height: 22px;
}

.socials__link--inst::before {
	background-image: url("../img/icon-inst.svg");
	width: 21px;
	height: 21px;
}

.socials__link:hover {
  background: var(--red-color2);
}

.socials__link:active {
  background: var(--red-color3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.special-offer {

}

.special-offer__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.special-offer__text {
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-color2);
  margin-top: 0;
  margin-bottom: 0;
}


.slider {
  background: var(--gray-color1);
}

.slider__container {
  position: relative;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  background: yellow;
  padding-top: 73px;
  padding-bottom: 80px;
}

.slider__inner-text {
  width: 560px;
}

.slider__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 26px;
}

.slider__title--math {
  margin-bottom: 37px;
}

.slider__text {
  margin-top: 0;
  margin-bottom: 39px;
  line-height: 24px;
  color: var(--gray-color4);
}

.slider__text--math {
  margin-bottom: 28px;
}

.slider__controls-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: calc(50% - 44px);
  bottom: 96px;
  background: black;
  width: 88px;
  height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider__control-item {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  margin-bottom: 17px;
  background: var(--white-color);
  position: relative;
}

.slider__control-item:nth-of-type(3n) {
  margin-right: 0;
}

.slider__control-item--active::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  box-shadow: 0px 0px 0px 2px var(--gray-color5) inset;
}


.button {
  display: block;
  box-sizing: border-box;
  width: 240px;
  text-align: center;
  font-weight: 500;
  color: var(--white-color);
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--red-color1);
}