@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}



:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--gray-color1: #eeeeee;
  --gray-color2: #444444;
	--red-color1: #fb565a;
}



.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
	width: 1160px;
	margin: auto;
}



.main-header {
	background: var(--gray-color1);
}

.main-header__container {
	display: flex;
}

.main-header__logo {
	margin-top: 48px;
	margin-right: 202px;
}

.main-header__nav {
	margin-top: 75px;
	max-width: 500px;
}

.main-header__user-block {
	margin-top: 75px;
	margin-left: auto;
	max-width: 300px;
}



.logo {
	width: 160px;
	height: 66px;
}

.logo:hover {
	opacity: 0.7;
}

.logo:active {
	opacity: 0.3;
}

.logo__image {
	width: 160px;
	height: 66px;
	object-fit: contain;
	max-width: 100%;
}



.links {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.links__item {
	margin-right: 46px;
	padding-bottom: 14px;
	position: relative;
}

.links__item:last-of-type {
	margin-right: 0;
}

.links__item--cart {
	padding-left: 40px;
	background: url("../img/icon-cart.svg") 0 7px no-repeat;
}

.links__item--active::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--red-color1);
}

.links__link {
	line-height: 30px;
	font-weight: 500;
	color: var(--black-color);
	text-transform: uppercase;
	text-decoration: none;
}

.links__link:hover {
	color: var(--red-color1);
}

.links__link:active {
	color: var(--black-color);
	opacity: 0.3;
}



.main-footer {
  background: red;
}

.main-footer__container {
  display: flex;
  align-items: flex-start;
}

.main-footer__socials {
  margin-right: 129px;
}

.main-footer__special-offer {
  margin-top: 6px;
}



.socials {
  background: #eee;
}

.socials__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  margin-right: 11px;
  margin-bottom: 11px;
}

.socials__link {
  font-size: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: gray;
  border-radius: 50%;
}

.socials__link:hover {
  background: blue;
}



.special-offer {

}

.special-offer__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.special-offer__text {
  font-size: 16px;
  line-height: 22px;
  color: var(--gray-color2);
  margin-top: 0;
  margin-bottom: 0;
}